body {
    background-color: black;
    color: white;
}

.thread-list {
    /* border: 1px solid white; */
    padding: 1.5%;
}

.thread {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 1%;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, padding 0.4s ease-in-out;
}

.thread:hover{
    background-color: white;
    color: black;
    padding: 2%;
}


.btn {
    outline: none;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: xx-small;
    padding: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, padding 0.4s ease-in-out;
}

.btn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 15px;
}

.comment {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 1%;
    margin: 20px;
}

.comment input {
    background-color: black;
    color: white;
    padding: 1%;
    border: 0.2px solid white;
    margin: 20px;
    width: 100%;
}

.delete-btn {
    height: 30px;
    text-align: center;
    outline: none;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: xx-small;
    padding: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3 ease-in-out;
}

.delete-btn:hover {
    cursor: pointer;
    background-color: red;
    border: 1px solid red;
}

.new-comment {
    display: flex;
    margin: 20px;
}

.new-comment input {
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-right: none;
    padding: 1%;
}

.new-thread {
    display: flex;
}

.new-thread input {
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-right: none;
    padding: 1%;
}

.comment textarea {
    outline: none;
    width: 60vw;
    height: 10vh;
    padding: 1%;
    font-size: medium;
}

.edit-comment button {
    margin-top: 20px;
    float: right;
    width: 10%;
}